html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@media (min-width: 455px) {
  .app {
    background: url("/public/img/iphone.png") center center no-repeat;
    background-size: cover;
    height: 925px;
    width: 455px;
    padding: 60px 40px 0 40px;
    margin: 50px auto;
  }
}

.app-container {
  margin: 80px 0 0;
}

@media (min-width: 455px) {
  .app-container {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
}

/**
 * Color SASS Variables ***************************************
 **/
/**
 * Typoagraphy Styles ********************************************
 **/
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 0;
}

a,
a:visited {
  color: initial;
  text-decoration: none;
}

.lean-info a {
  color: #adb5bd;
  font-size: 0.75rem;
}

.lean-info a span {
  font-weight: 600;
}

.lean-info a span.left {
  color: #1982c4;
}

.lean-info a span.right {
  color: #ff595e;
}

.lean-info a span.center {
  color: #7536a6;
}

/**
 * Header component styles *****************************************
 **/
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  padding: 15px;
  background: #fff;
  border-bottom: solid 1px #e9ecef;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
}

.app-header.shadow {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.app-header.show {
  opacity: 1;
}

.app-header .logo {
  text-align: center;
}

.app-header .logo a, .app-header .logo a:visited {
  color: #212529;
  display: inline-block;
}

.app-header .logo a h1, .app-header .logo a:visited h1 {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.1;
  font-size: 1.5rem;
}

@media (min-width: 455px) {
  .app-header .logo a h1, .app-header .logo a:visited h1 {
    font-size: 2rem;
    margin-top: 8px;
  }
}

.app-header .logo a h1 span, .app-header .logo a:visited h1 span {
  color: #7536a6;
}

.app-header .logo a h1 sup, .app-header .logo a:visited h1 sup {
  display: inline-block;
  font-size: 0.9rem;
}

@media (min-width: 455px) {
  .app-header .logo a h1 sup, .app-header .logo a:visited h1 sup {
    font-size: 1.15rem;
  }
}

.app-header .refresh {
  position: absolute;
  top: 18px;
  right: 20px;
}

.app-header .refresh button {
  border: 0;
  background: transparent;
  padding: 0;
}

.app-header .refresh button svg {
  fill: #7536a6;
}

/**
 * Loading icon styles ***********************************
 **/
.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.loading-container img {
  height: 75px;
  width: 75px;
}

/**
 * Small Article Coponent Styles ****************************************
 **/
.small-article {
  padding: 10px;
  margin: 15px;
  border: solid 1px #e9ecef;
  border-radius: 15px;
}

.small-article > a {
  display: block;
}

.small-article > a .article-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.small-article > a .article-details .article-img {
  position: relative;
  height: 85px;
  width: 100px;
  min-height: 75px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 10px;
  background: #f8f9fa;
}

.small-article > a .article-details .article-img img {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.small-article > a .article-details .article-info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.small-article > a .article-details .article-info .time p {
  margin: 0 0 5px;
  font-size: 0.75rem;
  color: #adb5bd;
}

.small-article > a .article-details .article-info .title h2 {
  font-size: 1rem;
  margin-bottom: 0;
}

.small-article .source-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 0;
  margin-top: 15px;
  border-top: solid 2px #f8f9fa;
}

.small-article .source-details .source-logo img {
  max-height: 20px;
  max-width: 75px;
}

.small-article .source-details .lean-info {
  margin-left: auto;
}

.small-article .source-details .lean-info a {
  margin: 0;
  line-height: 1;
}

/**
 * Slick Slider Coponent Styles ****************************************
 **/
.slick-slider {
  margin: 15px 0;
}

.slick-slider .slick-list .slick-track .slick-slide > div {
  padding-bottom: 40px;
}

.slick-slider .slick-dots {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  background: transparent;
}

/**
 * Large Article Coponent Styles ****************************************
 **/
.large-article {
  position: relative;
  margin: 0 15px;
  height: 375px;
  border-radius: 20px;
}

.large-article .article-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 90%;
  height: 75%;
  border-radius: 20px;
  overflow: hidden;
}

.large-article .article-img img {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.large-article .hot-icon {
  position: absolute;
  top: 15px;
  right: 30px;
  background: #fff;
  padding: 5px 5px 1px;
  border-radius: 50%;
}

.large-article .hot-icon svg {
  fill: #f18701;
}

.large-article .article-details {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 0;
  left: 0;
  background: #fff;
  padding: 15px;
  border-radius: 15px;
  border: solid 1px #f8f9fa;
  -webkit-box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 15px 25px -5px rgba(0, 0, 0, 0.25);
}

.large-article .article-details .time p {
  font-size: 0.8rem;
  color: #adb5bd;
  margin: 0 0 5px;
}

.large-article .article-details .title h2 {
  font-size: 1.1rem;
}

.large-article .article-details .source-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px 0;
  margin-top: 15px;
  border-top: solid 2px #f8f9fa;
}

.large-article .article-details .source-details .source-logo img {
  max-height: 20px;
  max-width: 75px;
}

.large-article .article-details .source-details .lean-info {
  margin-left: auto;
}

.large-article .article-details .source-details .lean-info a {
  margin: 0;
  line-height: 1;
}

/**
 * Universal helper classes ************************************
 **/
img[alt]:after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #e9ecef;
  background: url("/public/img/no-img.svg") #f8f9fa center center no-repeat;
  background-size: 40% 40%;
}

.source-logo img[alt] {
  font-size: 0.5rem;
}

.source-logo img[alt]:after {
  display: none;
}
