@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@400;500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// Mixin for large screens
@mixin large-only {
  @media (min-width: 455px) { @content; }
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  @include large-only {
    background: url('/public/img/iphone.png') center center no-repeat;
    background-size: cover;
    height: 925px;
    width: 455px;
    padding: 60px 40px 0 40px;
    margin: 50px auto;
  }
}

.app-container {
  margin: 80px 0 0;
  @include large-only {
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
}

@import './scss/colors';
@import './scss/typograhpy';
@import './scss/header';
@import './scss/loading';
@import './scss/small_article';
@import './scss/slider';
@import './scss/large_article';
@import './scss/_helpers.scss';