/**
 * Color SASS Variables ***************************************
 **/

// Override pure contrast black and white
$white: #fff;
$black: #212529;

// Greyscale color set
$grey-lightest: #f8f9fa;
$grey-lighter: #e9ecef;
$grey-light: #dee2e6;
$grey: #ced4da;
$grey-dark: #adb5bd;
$grey-darker: #6c757d;
$grey-darkest: #495057;

// Primary colors
$red: #ff595e;
$blue: #1982c4;
$purple: #6a4c93;
$orange: #f18701;