/**
 * Header component styles *****************************************
 **/

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  padding: 15px;
  background: $white;
  border-bottom: solid 1px $grey-lighter;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 99999;
  opacity: 0;
  transition: ease all 0.5s;

  &.shadow {
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  }

  &.show {
    opacity: 1;
  }

  .logo {
    text-align: center;

    a, a:visited {
      color: $black;
      display: inline-block;

      h1 {
        font-family: 'Oswald', sans-serif;
        margin: 0;
        text-transform: uppercase;
        line-height: 1.1;
        font-size: 1.5rem;
        font-display: block;
        @include large-only {
          font-size: 2rem;
          margin-top: 8px;
        }

        span {
          color: #7536a6;
        }

        sup {
          display: inline-block;
          font-size: 0.9rem;
          @include large-only {
            font-size: 1.15rem;
          }
        }
      }
    }
  }

  .refresh {
    position: absolute;
    top: 18px;
    right: 20px;

    button {
      border: 0;
      background: transparent;
      padding: 0;

      svg {
        fill: $purple;
      }
    }
  }
}