/**
 * Styles for the Article component **************************************
 **/

 .article {

  .source {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.65rem;

    p {
      font-weight: 700;
      font-size: 0.7rem;
      margin: 0;
    }
  }

  .title {

    p {
      margin: 0;
      font-weight: 600;
    }
  }

  .bias {

    p {
      margin: 0;
      font-size: 0.8rem;
      font-weight: 600;

      a {
        margin-left: 0.5rem;

        &.left-center {
          color: $blue;
        }

        &.right-center {
          color: $red;
        }

        &.center {
          color: $purple;
        }
      }
    }
  }
}