/**
 * Header component styles *****************************************
 **/

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  padding: 15px 15px 5px;
  background: $white;
  border-bottom: solid 1px $grey-lighter;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 99999;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);

  .logo {
    text-align: center;
    line-height: 0;

    a, a:visited {
      color: $black;
      display: inline-block;
      line-height: 0;

      img {
        height: 20px;
        width: auto;
        margin: 2px 0;
      }
    }
  }

  .refresh {
    position: absolute;
    top: 15px;
    right: 20px;

    button {
      border: 0;
      background: transparent;
      padding: 0;

      svg {
        fill: $purple;
      }
    }
  }

  .navigation {
    display: flex;
    align-items: center;
    height: 3rem;
    overflow-x: scroll;

    @media screen and (min-width: 500px) {
      justify-content: center;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      list-style: none;
      gap: 0.75rem;

      li {
        margin: 0;
        padding: 0;

        button {
          background: none;
          border: 0;
          color: $grey-darkest;
          font-size: 0.9rem;
          padding: 0.25rem 0.5rem;

          &.active {
            color: $purple;
            position: relative;

            &::after {
              content: '';
              position: absolute;
              width: calc(100% - 7px);
              left: 50%;
              transform: translateX(-50%);
              bottom: -7px;
              border-bottom: solid 2px $purple;
            }
          }
        }
      }
    }
  }
}