// import external stylesheets
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/**
 * Color SASS Variables ***************************************
 **/

// Override pure contrast black and white
$white: #fff;
$black: #212529;

// Greyscale color set
$grey-lightest: #f1f1f1;
$grey-lighter: #e9ecef;
$grey-light: #dee2e6;
$grey: #ced4da;
$grey-dark: #adb5bd;
$grey-darker: #6c757d;
$grey-darkest: #495057;

// Primary colors
$red: #ff595e;
$blue: #1982c4;
$purple: #7536a6;
$orange: #f18701;

/**
 * Typoagraphy Styles ********************************************
 **/

 body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35;
  --guwmi-radius: 6px;
  --guwmi-inner-radius: 4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 0;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

/**
 * Universal helper classes ************************************
 **/

//  Screen reader only
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/**
 * App styles *************************************************
 **/

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  background: $grey-lightest;
  overflow-y: scroll;
  
  &::-webkit-scrollbar {
    display: none;
  }
}

.app {
  background: none;
}

.app-container {
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem 1rem 1rem;
  max-width: 430px;

  .section-title {
    gap: 1rem;
    padding: 0.5rem 0 0.5rem 0.75rem;
    background: var(--guwmi-primary-bg);
    border-radius: 4px;

    &:first-of-type {
      margin-top: 2rem;
    }

    h2 {
      margin: 0;
      font-weight: 400;
    }
  }
}


@import './article';
@import './header';