// Mixin for large screens
@mixin large-only {
  @media (min-width: 550px) { @content; }
}

// import external stylesheets
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.app {
  @include large-only {
    background: url('/img/iphone.png') center center no-repeat;
    background-size: cover;
    height: 975px;
    width: 455px;
    padding: 47px 40px 60px 40px;
    margin: 75px auto;
  }

  .desktop-notification {
    display: none;
    @include large-only {
      display: flex;
      position: absolute;
      top: 60px;
      left: 5px;
      width: 90%;
      max-width: 350px;
      padding: 15px;
      background: #f8edeb;
      color: #6d6875;
      border-radius: 10px;
      border: solid 2px #e56b6f;
    }

    svg {
      width: 25px;
      fill: #e56b6f;
    }

    p {
      margin: 0;
      width: calc(100% - 50px);
      margin: 0 15px 0 auto;
    }

    button {
      position: absolute;
      top: 4px;
      right: 4px;
      background: none;
      border: 0;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 300;
      font-size: 16px;
      text-transform: lowercase;
      color: #6d6875;
      cursor: pointer;
    }
  }
}

.app-container {
  margin: 80px 0 0;
  @include large-only {
    margin: 25px 0;
    height: 100%;
    width: 100%;
    overflow: scroll;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
  }
}

@import './colors';
@import './typograhpy';
@import './header';
@import './footer';
@import './loading';
@import './small_article';
@import './slider';
@import './large_article';
@import './helpers.scss';