// Mixin for large screens
@mixin large-only {
  @media (min-width: 550px) { @content; }
}

// import external stylesheets
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/**
 * Color SASS Variables ***************************************
 **/

// Override pure contrast black and white
$white: #fff;
$black: #212529;

// Greyscale color set
$grey-lightest: #f5f5f5;
$grey-lighter: #e9ecef;
$grey-light: #dee2e6;
$grey: #ced4da;
$grey-dark: #adb5bd;
$grey-darker: #6c757d;
$grey-darkest: #495057;

// Primary colors
$red: #ff595e;
$blue: #1982c4;
$purple: #7536a6;
$orange: #f18701;

/**
 * Typoagraphy Styles ********************************************
 **/

 body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.35;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  margin-top: 0;
}

a,
a:visited {
  color: initial;
  text-decoration: none;
}

/**
 * Universal helper classes ************************************
 **/

//  Screen reader only
.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

/**
 * App styles *************************************************
 **/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: $grey-lightest;
}

.app {
  background: none;
}

.app-container {
  margin: 3rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem 1rem;

  .section-title {
    display: flex;
    align-items: center;
    gap: 1rem;

    h2 {
      margin: 0;
      flex-shrink: 1;
    }

    div {
      flex-grow: 1;
      border-bottom: solid 1.5px $purple;
      padding: 0.2rem 0 0;
    }
  }

  .article {
    display: flex;
    flex-direction: column;

    .source {
      display: flex;
      gap: 0.5rem;
      align-items: center;

      p {
        font-weight: 700;
        font-size: 0.7rem;
        margin: 0;
      }
    }

    .title {

      p {
        margin: 0;
        font-weight: 600;
      }
    }

    .bias {

      p {
        color: $grey-darkest;
        margin: 0.5rem 0 0;
        font-size: 0.8rem;
        font-weight: 600;

        span {
          margin-left: 0.5rem;

          &.left-center {
            color: $blue;
          }

          &.right-center {
            color: $red;
          }

          &.center {
            color: $purple;
          }
        }
      }
    }
  }
}


@import './header';
@import './footer';